argcomplete; sys_platform != 'win32'
catkin_pkg
coloredlogs; sys_platform == 'win32'
distlib
EmPy
notify2; sys_platform == 'linux'
pypiwin32; sys_platform == 'win32'
pytest
pytest-cov
pytest-repeat
pytest-rerunfailures
pytest-runner
PyYAML
setuptools>=40.5.0
